* {
  margin: 0;
  padding: 0;
  color: inherit;
  font-weight: inherit;
}

body {
  color: #555;
  padding: 2em;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

h1 {
  font-size: 2em;
}

.log {
  height: 500px;
  padding: 0.2em;
  font-family: Consolas, Monaco, Inconsolata, monospace;
  background: #222;
  color: white;
}

.log pre {
  padding: 1em;
}

.log > pre:nth-child(even) {
  background-color: #eee;
}

.packet-user-id {
  color: cyan;
}
